.about {
  position: absolute;
  display: flex;
  border-radius: 7px;
  top: 85px;
  width: 1000px;
  background-color: #0e0e0e91;
  /* background-color: #d8cb9c; */
  backdrop-filter: blur(6px);
}

.container {
  position: relative;
  margin-left: 220px;
  width: 620px;
  height: 488px;
}

.centerMe {
  display: flex;
  justify-content: center;
}