.about {
  position: absolute;
  display: flex;
  border-radius: 7px;
  top: 85px;
  width: 800px;
  background-color: #0e0e0e91;
  backdrop-filter: blur(6px);
}

.container {
  margin-left: 172px;
  width: 1920px;
  height: 1080px;
}

.centerMe {
  display: flex;
  justify-content: center;
}